In [1]:
import pandas as pd

r_data = pd.read_csv('UdemyR.csv')
r_data['topic'] = "Statistics"
r_data=r_data.rename(columns={' instructor': 'instructor', ' rating': 'rating', ' price': 'price', ' num_voters ': 'num_voters'})
r_data['num_voters'] = r_data['num_voters']*(-1)

In [2]:
stat_data = pd.read_csv('UdemyStats.csv')
stat_data.head(10)
stat_data['topic'] = 'R_programming'
stat_data['courses']
stat_data[' num_voters '] = stat_data[' num_voters '].str.strip('()')
stat_data=stat_data.rename(columns={' num_voters ': 'num_voters', ' instructor': 'instructor', ' rating': 'rating', ' price': 'price', ' num_voters ':'num_voters'})

In [27]:
Stat_R_Udemy = pd.concat([r_data, stat_data], sort=True)
Stat_R_Udemy.head(3)

,courses,instructor,num_voters,price,rating,topic
0,R Programming A-Z™: R For Data Science With Re...,Kirill Eremenko SuperDataScience Team,36260,16.99,4.6,Statistics
1,Machine Learning A-Z™: Hands-On Python & R In ...,Kirill Eremenko Hadelin de Ponteves SuperDataS...,134017,16.99,4.5,Statistics
2,Data Science and Machine Learning Bootcamp with R,Jose Portilla,12022,16.99,4.7,Statistics

In [5]:
%matplotlib inline

In [6]:
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')

In [12]:
#exploring the columns of object type
columns = Stat_R_Udemy.columns.tolist()

obj_columns = list(filter(lambda col: Stat_R_Udemy[col].dtype == object, columns))

for col in obj_columns:
    print(Stat_R_Udemy[col].value_counts())
    print('\n')

Learn By Example: Statistics and Data Science in R            12
Data Science with R - Beginners                               11
Learning Path: R: Real-World Data Science Solutions with R    11
Data Science on R By OrangeTree Global                        11
Logistic Regression in R Studio                               11
                                                              ..
A Slacker's Guide To: Introductory Statistics                  1
Statistics                                                     1
Statistical Analysis and Research using Excel                  1
Statistics / Data Analysis in SPSS: Inferential Statistics     1
Statistics for Data Science using Python                       1
Name: courses, Length: 157, dtype: int64


Kirill Eremenko SuperDataScience Team    23
R-Tutorials Training                     23
Up Degree                                22
Manuel Amunategui                        22
Loony Corn                               12
                                         ..
Mohammad Rafiqul Islam                    1
A O                                       1
Jay Shankar Bhatt                         1
Magine Solutions                          1
Mahmoud Ali                               1
Name: instructor, Length: 120, dtype: int64


459     22
0       19
2       13
349     11
6306    11
        ..
14       1
341      1
235      1
71       1
81       1
Name: num_voters, Length: 100, dtype: int64


Statistics       286
R_programming    154
Name: topic, dtype: int64

In [23]:
#studying the courses
Stat_R_Udemy['courses'].value_counts()

Learn By Example: Statistics and Data Science in R            12
Data Science with R - Beginners                               11
Learning Path: R: Real-World Data Science Solutions with R    11
Data Science on R By OrangeTree Global                        11
Logistic Regression in R Studio                               11
                                                              ..
A Slacker's Guide To: Introductory Statistics                  1
Statistics                                                     1
Statistical Analysis and Research using Excel                  1
Statistics / Data Analysis in SPSS: Inferential Statistics     1
Statistics for Data Science using Python                       1
Name: courses, Length: 157, dtype: int64

In [24]:
#making sure courses repeat multiple times
Stat_R_Udemy.loc[Stat_R_Udemy['courses']=='Learn By Example: Statistics and Data Science in R']

,courses,instructor,num_voters,price,rating,topic
19,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
45,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
71,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
97,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
123,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
149,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
175,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
201,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
227,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
253,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
279,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,Statistics
74,Learn By Example: Statistics and Data Science ...,Loony Corn,372,12.99,3.8,R_programming

In [36]:
#dropping the duplicates
len(Stat_R_Udemy['courses'].unique())
Stat_R_Udemy = Stat_R_Udemy.drop_duplicates(subset=['courses'])
Stat_R_Udemy

,courses,instructor,num_voters,price,rating,topic
0,R Programming A-Z™: R For Data Science With Re...,Kirill Eremenko SuperDataScience Team,36260,16.99,4.6,Statistics
1,Machine Learning A-Z™: Hands-On Python & R In ...,Kirill Eremenko Hadelin de Ponteves SuperDataS...,134017,16.99,4.5,Statistics
2,Data Science and Machine Learning Bootcamp with R,Jose Portilla,12022,16.99,4.7,Statistics
3,Introduction to Time Series Analysis and Forec...,R-Tutorials Training,1874,99.99,4.4,Statistics
4,R Shiny Interactive Web Apps - Next Level Data...,R-Tutorials Training,931,94.99,3.9,Statistics
...,...,...,...,...,...,...
149,Become a Permutations and Combinations Master,Shilank Singh,15,12.99,3.8,R_programming
150,The STATA OMNIBUS: Regression and Modelling wi...,F. Buscha,57,12.99,4.4,R_programming
151,Modeling Count Data using Stata,Najib Mozahem,23,12.99,4.9,R_programming
152,[2020] Minitab: Master Minitab From A-Z | Mini...,Magine Solutions,83,12.99,3.7,R_programming
153,Statistics Fundamentals and its Applications,Amba Kumari,508,12.99,4.1,R_programming

In [25]:
Stat_R_Udemy['topic'].value_counts()

Statistics       286
R_programming    154
Name: topic, dtype: int64